<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shadow</title>
    <link href="../public/stylesheet/shadow.css" rel="stylesheet">
    <script src="../public/javascript/jquery.js"></script>
    <script src="../public/javascript/shadow.js"></script>
</head>
<body>
<div class="pic">
    <img src="https://unsplash.it/300/200?image=910" class="pic-image" alt="Pic">
    <span class="pic-caption rotate-in">
		        <h1 class="pic-title">Rotate In</h1>
		        <p>Hi, this is a simple example =D</p>
		    </span>
</div>
</body>
</html>