<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <link rel="stylesheet" href="/stylesheet/cropper.css">
    <link rel="stylesheet" href="/stylesheet/editor.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
    <link href="/stylesheet/tag.css" rel="stylesheet">
    <style>
        .message{
            margin-right: 1em;
            margin-bottom: 0.6em;
            padding: 0.2rem 0.6rem;
            list-style-type: none;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 0.7rem;
            line-height: 0.6rem;
            color: black;
        }
        .tag-panel{
            border:1px solid #bebebe;
            margin:auto;
            width:280px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="left">
        <div class="title">
            <h1 class="headline">
                Editor
            </h1>
        </div>
        <div class="spacer">
            <div class="mask"></div>
        </div>
        <div class="box">
            <img id="image" src="../image/camera.jpg" alt="">
        </div>
        <input type="file" value="image" id="img_input" />
        <div class="title">
            <h1 class="headline">
                PreView
            </h1>
        </div>
        <div class="spacer">
            <div class="mask"></div>
        </div>
        <div class="small"></div>
        <div class="preview_right">
            <div class="tag-panel">
                <ul class="tags-list">
                    <li class="message">点击标签以选中：</li>
                    <li class="tag">自然</li>
                    <li class="tag">动物</li>
                    <li class="tag">植物</li>
                    <li class="tag">人物</li>
                    <li class="tag">建筑</li>
                    <li class="tag">影视</li>
                    <li class="tag">艺术</li>
                    <li class="tag">时尚</li>
                    <li class="tag">卡通</li>
                    <li class="tag">科技</li>
                    <li class="tag">体育</li>
                    <li class="tag">文化</li>
                    <li class="tag">生活</li>
                </ul>
                <input id="tag-input">
                <button id="tag-submit">添加自定义标签</button>
            </div>
            <div style="text-align:center; margin:20px 0;">
                <button id="btn_upload">上传</button>
            </div>
        </div>
    </div>
    <div class="menu" id="menu">
        <div>
            <p class="section">Zoom
                <i style="float:right; margin-right:20px" class="fa fa-chevron-right fa-2x"></i>
            </p>
            <div class="panel" style="display:none">
                <div class="panelContent">
                    <div class="panelItem">
                        <div class="panelZoom">
                            <i id="enlarge" class="fa fa-plus-square-o fa-2x"></i>
                            <i id="narrow" class="fa fa-minus-square-o fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="section">Move
                <i style="float:right; margin-right:20px" class="fa fa-chevron-right fa-2x"></i>
            </p>
            <div class="panel" style="display:none">
                <div class="panelContent">
                        <div class="panelItem">
                            <div class="direction">
                                <i id="move-up" class="fa fa-chevron-circle-up fa-2x"></i>
                                <i id="move-down" class="fa fa-chevron-circle-down fa-2x"></i>
                                <i id="move-left" class="fa fa-chevron-circle-left fa-2x"></i>
                                <i id="move-right" class="fa fa-chevron-circle-right fa-2x"></i>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div>
            <p class="section">Cutting
                <i style="float:right; margin-right:20px" class="fa fa-chevron-right fa-2x"></i>
            </p>
            <div class="panel" style="display:none">
                <div class="panelContent">
                    <div class="panelItem">
                        <label class="inputLabel">Cutting Size:</label><br>
                    </div>
                    <div class="panelItem">
                        <input class="item_input" id="crop-width" min="0"><i class="fa fa-close fa-1x"></i><input class="item_input" id="crop-height" min="0"><br>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="section">Rotate
                <i style="float:right; margin-right:20px" class="fa fa-chevron-right fa-2x"></i>
            </p>
            <div class="panel" style="display:none">
                <div class="panelContent">
                    <form method="post">
                        <div class="panelItem">
                            <label class="inputLabel">Rotate:</label><br>
                        </div>
                        <div class="panelItem">
                            <input type="range" name="rotate" min="-180" max="180">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <p class="section">Reverse
                <i style="float:right; margin-right:20px" class="fa fa-chevron-right fa-2x"></i>
            </p>
            <div class="panel" style="display:none">
                <div class="panelContent">
                    <div class="panelItem">
                        <div class="panelZoom">
                            <i id="reverse-x" class="fa fa-arrows-h fa-2x"></i>
                            <i id="reverse-y" class="fa fa-arrows-v fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="section">Color
                <i style="float:right; margin-right:20px" class="fa fa-chevron-right fa-2x"></i>
            </p>
            <div class="panel" style="display:none">
                <div class="panelContent">
                    <div class="panelItem">
                        <label class="inputLabel">Brightness:</label><br>
                    </div>
                    <div class="panelItem">
                        <input type="range" name="brightness" min="0" max="10">
                    </div>
                    <div class="panelItem">
                        <label class="inputLabel">Contrast:</label><br>
                    </div>
                    <div class="panelItem">
                        <input type="range" name="contrast" min="0" max="10">
                    </div>
                    <div class="panelItem">
                        <label class="inputLabel">Saturation:</label><br>
                    </div>
                    <div class="panelItem">
                        <input type="range" name="saturation" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>
</body>
<script type="text/javascript" src="/javascript/cropper.js"></script>
<script>
    var start_Edit=false;
    var degree=0;
    var brightVal=1;
    var contrastVal=1;
    var saturateVal=1;
    var reversedX=false;
    var reversedY=false;
</script>
<script>
    var tagList = document.querySelector('.tags-list');
    tagList.addEventListener("click", toggleActive, false);
    var tl = new TimelineMax();
    var w = null;

    document.getElementById('tag-submit').onclick=function(){
        var tagName=document.getElementById('tag-input').value;
        if(tagName=="") return;
        document.getElementsByClassName('tags-list')[0].innerHTML+="<li class=\"tag\">"+tagName+"</li>";
    };

    function toggleActive(e) {
        if(e.target.className=="message"){return;}
        if (e.target.classList.contains('tags-list')) return;

        w = e.target.clientWidth;

        tl.to(e.target, 0.15, {
            color: "rgba(255, 255, 255, 0)"
        })
            .to(e.target, 0.2, {
                scaleX: 0,
                ease: Power2.easeIn
            })
            .to(e.target, 0.2, {
                width: 0,
                ease: Power2.easeIn,
                onComplete: function() {
                    e.target.classList.toggle('active');
                }
            })
            .to(e.target, 0.2, {
                width: w,
                ease: Power2.easeOut,
                onComplete: function() {
                    e.target.style = '';
                }
            })
            .to(e.target, 0.2, {
                scaleX: 1,
                ease: Power3.easeOut
            })
            .to(e.target, 0.15, {
                color: "rgba(255, 255, 255, 0.9)",
                onComplete: function() {
                    e.target.style = '';
                }
            });

    }
    function getSelectedTags(){
        var tagList = document.getElementsByClassName("tag active");
        var tagNames=[];
        for(var i=0;i<tagList.length;i++){
            tagNames.push(tagList[i].innerHTML);
        }
        return tagNames;
    }
</script>
<script type="text/javascript" src="/javascript/editor.js"></script>
</html>