<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pictures</title>
    <script src="/javascript/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheet/pictures.css" />
    <link href='http://fonts.font.im/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="/stylesheet/homepage.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="header" class="">
    <div class="context_div">
        <div class="logo">
            <a href="#">
                <div class="slogan">
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">P</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">h</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">o</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em, rgb(255, 153, 0) 0px -0.24em 0.24em;">t</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">o</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">g</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">r</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">a</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">p</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">h</span>
                    <span style="color: rgba(45, 45, 45, 0.5); text-shadow: rgba(45, 45, 45, 0.5) 0px 0em 0em, rgba(43, 161, 61, 0.35) 0px -0.06em 0.06em, rgba(43, 161, 61, 0.65) 0px -0.12em 0.12em, rgb(255, 255, 255) 0px -0.18em 0.18em;">y</span>
                </div>
            </a>
        </div>
        <div id="menubar-mobile">
            <div class="navbar-mobile">
                <button class="navbar-toggle"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
            </div>
            <script>$(".navbar-toggle").on('click', function(){
                $("#menubar-mobile").toggleClass('menu-open');
            });</script>
            <div class="menu-container">
                <ul class="cssmenu-mobile">
                    <li class="hot"><a href="#"><i class="fa fa-hacker-news"></i>选项1</a></li>
                    <li><a  href="#"><i class="fa fa-cubes"></i>选项2</a></li>
                    <li class="has-sub"><a href="#"><i class="fa fa-graduation-cap"></i>选项3</a></li>
                    <li class="has-sub"><a href="#"><i class="fa fa-book"></i>选项4</a></li>
                    <li class="hot"><a href="#"><i class="fa fa-pencil"></i>选项5</a></li>
                </ul>
            </div>
        </div>

        <div id="menubar" class="mobile_invisible">
            <nav class="cssmenu" id="cssmenu">
                <div class="button"></div>
                <ul>
                    <li class="has-sub"><a href="#"><i class="fa fa-suitcase"></i>功能</a>
                        <ul>
                            <li><a target=_blank href="/upload">上传图片</a></li>
                            <li><a target=_blank href="/upload_s">合成图片</a></li>
                            <li><a href="#">功能3</a></li>
                        </ul></li>
                    <li><a href="#"><span class="more">More</span></a>
                        <ul>
                            <li><a href="#"><i class="fa fa-cny"></i>…</a></li>
                        </ul></li>
                </ul>
            </nav>
        </div>
        <div class="header-account">
            <div class="userzone">
                <div id="LOGIN_USERZONE">
                    <div id="HEAD_IMAGE">
                        <a href="/logout"><span><%= username %></span><i class="fa fa-user-circle"></i><i class="fa fa-sign-out"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="left">
        <div class="title">
            <h1 class="headline">
                Your Pictures
            </h1>
        </div>
        <div class="spacer">
            <div class="mask"></div>
        </div>
        <div class="image" id="div_pictures">
        </div>
    </div>

    <div class="note">
        <h2>Once I want to be a wandering minstrel, just I want to be a wandering the photographer.</h2>
    </div>
</div>
</body>
<script>
    var OL_Action_Root = "http://127.0.0.1:8000";
    $.ajax({
        url: OL_Action_Root+"/showPictures",
        type : 'get',
        async : true,
        success : function(data) {
            console.log(data);
            document.getElementById('div_pictures').innerHTML=data.html_pictures;
        },
        error:function(e){
            console.log(e);
        }
    });
</script>
</html>